@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/*IMAGEN DE NAVBAR*/
nav img {
  height: 25px;
  width: 86px;
}

/*IMAGEN DEL FOOTER*/

footer img {
  height: 24px;
  width: 82px;
}

/*STYLE DE LA CARD*/

.card {
  width: 100%;
}
